<div class="container">
  <div>
    <a href="https://www.youtube.com/@europop_"
      ><h3>გასვლითი შეხვედრები ევროპოპის YouTube-არხზე</h3></a
    >
  </div>
  <div class="youtube-video" *ngIf="selectedVideoId">
    <iframe
      [src]="videoUrl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    >
    </iframe>
  </div>
  <div class="slider-wrapper">
    <ul class="image-list">
      <li
        *ngFor="let image of images"
        (click)="onImageClick(image.youtubeVideoId)"
      >
        <img
          class="image-item"
          [src]="image.thumbnailUrl"
          [alt]="image.title"
        />
      </li>
    </ul>
  </div>
  <div class="slider-scrollbar">
    <div class="scrollbar-track">
      <div class="scrollbar-thumb"></div>
    </div>
  </div>
</div>
