.container {
  background-color: var(--components-white-more);
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  border-radius: 16px;
}

.youtube-video {
  margin-bottom: 16px;

  iframe {
    border-radius: 16px;
    max-width: 670px;
    width: 100%;
    height: 300px;
  }
}

h3 {
  color: var(--text-color-black);
  font-weight: 700;
  margin-bottom: 36px;
  font-size: 24px;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: var(--components-white-more);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  border-radius: 16px;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
  border-radius: 16px;
}

.slider-wrapper .image-list .image-item {
  width: 240px;
  height: 170px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 16px;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #969696;
  width: 100%;
  height: 5px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #ff4800;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

@media (max-width: 950px) {
  /* Add responsive styles here */
}

@media (max-width: 450px) {
  /* Add responsive styles here */
}

a:hover {
  color: var(--primary);
}
