<div class="news-container">
  <h1>ახალი ამბები</h1>
  <h3>გაეცანი მსოფლიო სპორტის სიახლეებს</h3>
  <div *ngFor="let post of newsPosts" class="news-item">
    <a href="posts/details/{{ post.id }}">
      <img [src]="post.image.fileUrl" alt="News Image"
    /></a>
    <div class="news-details">
      <h4>
        <a href="posts/details/{{ post.id }}">{{ post.subtitle }}</a>
      </h4>
      <h2>
        <a href="posts/details/{{ post.id }}">{{ post.title }}</a>
      </h2>
      <p>
        <a href="posts/details/{{ post.id }}">{{ post.text | stripHtml }}</a>
      </p>

      <div class="news-meta">
        <div class="news-meta-text">{{ post.publishedAt | timeAgo }}</div>
        <div class="news-meta-text">
          <i class="bi bi-hand-index"></i>
          <i class="bi bi-chat-left-text"></i>
          <i class="bi bi-save-fill"></i>
        </div>
      </div>
    </div>
  </div>
</div>
