<div class="classlink">
  <header>
    <h3>სოციალური ქსელები</h3>
  </header>
  <div class="social_box">
    <div class="img_container">
      <a href="https://www.facebook.com/europop.ge">
        <i class="bi bi-facebook"></i
      ></a>
      <a href="https://www.facebook.com/europop.ge">facebook</a>
    </div>
    <a href="https://www.facebook.com/europop.ge"
      ><img src="assets/svg/randomSvg/right-arrow-svgrepo-com.svg" alt="arrow"
    /></a>
  </div>
  <div class="social_box">
    <div class="img_container">
      <a href="https://www.instagram.com/europop.ge/">
        <i class="bi bi-instagram"></i
      ></a>
      <a href="https://www.instagram.com/europop.ge/">instagram</a>
    </div>
    <a href="https://www.instagram.com/europop.ge/">
      <img src="assets/svg/randomSvg/right-arrow-svgrepo-com.svg" alt="arrow"
    /></a>
  </div>
  <div class="social_box">
    <div class="img_container">
      <a href="https://www.youtube.com/@europop_">
        <i class="bi bi-youtube"></i
      ></a>
      <a href="https://www.youtube.com/@europop_">youtube</a>
    </div>
    <a href="https://www.youtube.com/@europop_">
      <img src="assets/svg/randomSvg/right-arrow-svgrepo-com.svg" alt="arrow"
    /></a>
  </div>
  <div class="social_box">
    <div class="img_container">
      <a href="https://www.tiktok.com/@europop.ge">
        <i class="bi bi-tiktok"></i
      ></a>
      <a href="https://www.tiktok.com/@europop.ge">tiktok</a>
    </div>
    <a
      href="https://www.tiktok.com/@europop.ge
"
    >
      <img
        src="assets/svg/randomSvg/right-arrow-svgrepo-com.svg"
        alt="arrow"
        href="https://www.tiktok.com/@europop.ge"
    /></a>
  </div>
</div>
