.navContainer {
  width: 100%;
  background-color: var(--components-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: fixed;
  z-index: 100;
  transition: 0.5s;
  .navbar {
    height: 70px;
    padding: 8px 16px;
    max-width: 1760px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--components-white);
    z-index: 100;
    gap: 16px;
    transition: 0.5s;
    .navbarButtonIcon {
      font-size: 30px;
      color: var(--europop-grey);
      cursor: pointer;
      transition: 0.5s;
    }

    .menu_hover_bar {
      display: none;
      position: fixed;
      background-color: var(--components-white-more);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      padding: 10px;
      width: 100%;
      height: 500px;
      top: 70px;
      left: 0;
      z-index: 1;
      justify-content: center;
      align-items: start;
      transition: 0.5s;

      .menu_hover_bar_box {
        max-width: 1320px;
        padding: 32px 20px;
        width: 100%;
        height: 480px;
        transition: 0.5s;

        .menu_hover_bar_box_attribute {
          display: flex;
          flex-direction: column;
          gap: 16px;
          transition: 0.5s;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            width: 250px;
            transition: 0.5s;
            a {
              width: 200px;
              padding: 6px;
              color: var(--text-color-black);
            }
          }
        }
      }
    }

    .europop {
      color: var(--europop-grey);
      transform: translateY(3px);
    }
    .eplusImage {
      width: 40px;
      cursor: pointer;
    }
    .attributeContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      a {
        color: var(--text-color-black);
        font-weight: 700;
      }

      .attribute {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        strong {
          background-color: rgb(16, 97, 248);
          color: white;
          width: 24px;
          height: 24px;
          border-radius: 50px;
          font-size: small;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 0 0 0;
        }
      }
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1px;
      padding: 0 5px;
      border-radius: 25px;
      background-color: var(--components-white-more);

      .bi-search {
        font-size: 16px;
        color: var(--europop-grey);
        cursor: pointer;
      }
      input {
        border: none;
        background: none;
        padding: 12px 5px;
        width: 326px;
        border-radius: 25px;
        color: grey;
        font-size: 12px;
      }
      input:focus {
        outline: none;
      }
    }
    form:hover {
      box-shadow: 1px 1px 10px var(--secondary);
    }

    .buttonContaier {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      .bellContainer {
        background-color: var(--components-white-more);
        padding: 10px 12px;
        border-radius: 50px;
        cursor: pointer;
        .bi-bell {
          color: var(--europop-grey);
        }
      }
      .PersonContainer {
        background-color: var(--components-white-more);
        padding: 10px 12px;
        border-radius: 50px;
        cursor: pointer;
        .bi-person {
          color: var(--europop-grey);
          font-size: 16px;
        }
      }
    }

    .account_hover {
      position: absolute;
      background-color: var(--components-white);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      padding: 16px;
      width: 360px;
      height: 430px;
      top: 70px;
      transform: translateX(-130px);
      z-index: 100;
      justify-content: start;
      align-items: center;
      border-radius: 16px;
      display: none;
      flex-direction: column;

      header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 260px;
      }

      button {
        padding: 12px 24px;
        background-color: #f15a22;
        width: 160px;
        border-radius: 16px !important;
        color: #eef0f5;
        font-weight: 500;
        font-size: 14px;
        font-family: "Noto Serif Georgian", serif;
        transition: 0.7s;
        margin-top: 12px;
        border: none;
        transition: 0.5s;
        &:hover {
          background-color: #ff7a00;
        }
      }

      .theme {
        color: var(--text-color-black);
        font-size: 20px;
      }

      .account_hover_tools {
        width: 100%;
        height: 270px;
        margin-top: 24px;
        background-color: var(--components-white-more);
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        border-radius: 16px;

        .account_hover_tools_box {
          width: 300px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            transform: translateY(7px);
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .navContainer {
    .navbar {
      justify-content: space-between;

      width: 100%;
    }
    .navbar .attributeContainer {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .navContainer {
    .navbar .eplusImage {
      display: none;
    }

    .navbar form input {
      width: 226px;
    }
  }
}

@media (max-width: 500px) {
  .navContainer {
    .navbar {
      width: 450px;
      form {
        display: none;
      }

      .navbarButtonIcon {
        font-size: 24px;
      }

      .navbar .buttonContaier {
        gap: 4px;

        .bellContainer,
        .PersonContainer {
          padding: 8px 10px;

          .bi-bell,
          .bi-person {
            font-size: 14px;
          }
        }
      }

      .navbar .attributeContainer {
        gap: 4px;

        a {
          font-size: 14px;
        }
      }
    }
  }
}
