<div class="box">
  <div class="container">
    <div class="rightbox">
      <div class="boxofPost">
        <img [src]="" alt="" width="700" height="520" class="imageOfPost" />
        <b> საქართველო ევროზე</b>
        <strong
          >საქართველოს ნაკრების ფეხბურთელების სათამაშო ნომრები ევრო
          2024-ზე</strong
        >
        <hr />
        <p>
          უეფას ოფიციალურ საიტზე ევრო 2024-ის მონაწილე ნაკრებების ფეხბურთელების
          სათამაშო ნომრები გამოქვეყნდა…
        </p>
        <div class="author">
          <img
            src="assets/images/epopFormBg.png"
            alt=""
            width="30px"
            height="30px"
          />
          <small>გელა უშარიძე</small>
        </div>
        <hr />
      </div>
    </div>
    <div class="leftbox"></div>
  </div>
</div>
